{{define "content"}}
{{if .active.Handle}}
<h1>Hello, {{.active.Handle}}</h1>

<table>
	<tr>
		<td>
			<form action="/post" method="get">
				<input type="submit" value="Post">
			</form>
		</td>
		<td>
			<form action="/pool" method="get">
				<input type="submit" value="My Pool">
			</form>
		</td>
	</tr>
</table>

<div class="feed">
	<table>
	{{range .content.Posts}}
		<tr>
			<h3>{{.Title}}</h3>
			<div>
				{{.Content}}
			</div>
			<br>
			<em>{{.Author}}</em>
		</tr>
	{{end}}
	</table>
	<em>{{.content.Status}}</em>
</div>
{{end}}
{{end}}
