{{define "layout"}}
<html>

  <head>
    <meta charset="UTF-8">
    <title>Social Media For Humans</title>
  </head>

  <body style="margin: 0">
    <nav class="navbar" style="position: fixed; width: 100%; height: 50px; background-color: lightgray; display: flex; align-items: flex-end; justify-content: flex-end">
      <h3 class="logo" style="margin-right: auto; margin-left: 15px; align-self: center"><a href="/" style="color: black">SMH</a></h3>
      {{if .Handle}}
      <strong style="padding-right: 15px; align-self: center">{{.Handle}}</strong>
      <form action="/post" method="get">
        <button style="margin-right: 15px">Post</button>
      </form>
      <form action="/logout" method="post">
        <button style="margin-right: 15px">Logout</button>
      </form>
      {{else}}
      <form action="/login" method="get">
        <button style="margin-right: 15px">Login</button>
      </form>
      {{end}}
    </nav>
    <div class="container" style="padding-top: 50px; margin-left: 8px; margin-right: 8px">
      {{template "content" .}}
    </div>
  </body>

</html>
{{end}}
