{{define "layout"}}
<html>

	<head>
	<meta charset="UTF-8">
		<title>Social Media For Humans</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>

	<body>
		<nav class="navbar">
			<h3 class="logo"><a href="/" style="color: black">SMH</a></h3>
			{{if .Handle}}
			<strong style="padding-right: 15px;">{{.Handle}}</strong>
			<form action="/post" method="get" style="margin: 0">
				<button style="margin-right: 15px">Post</button>
			</form>
			<form action="/logout" method="post" style="margin: 0">
				<button style="margin-right: 15px">Logout</button>
			</form>
			{{else}}
			<form action="/login" method="get" style="margin: 0">
				<button style="margin-right: 15px">Login</button>
			</form>
			{{end}}
		</nav>
		<div class="container">
			{{template "content" .}}
		</div>
	</body>

</html>
{{end}}
