{{define "layout"}}
<html>

	<head>
		<meta charset="UTF-8">
		<title>Social Media For Humans</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>

	<body>
		<div class="page">
			<nav class="navbar">
				<h3 class="logo"><a href="/">SMH</a></h3>
				{{if .active.Handle}}
				<strong>{{.active.Handle}}</strong>

				<form action="/me" method="get">
					<button>Me</button>
				</form>

				<form action="/logout" method="post">
					<button>Logout</button>
				</form>

				{{else}}
				<form action="/login" method="get">
					<button>Login</button>
				</form>
				{{end}}
			</nav>

			<div class="container">
				{{template "content" .}}
			</div>

			<div class="footer">
        <a href="https://github.com/acgaudette/social-humans/commits/{{.base.Commit}}" class="repo-link">{{.base.Commit}}</a>
				<a href="https://github.com/acgaudette/social-humans"><span class="source-link"></span></a>
			</div>
		</div>
	</body>

</html>
{{end}}
