{{define "content"}}
<h1>Log In</h1>

{{if .active.Handle}}
<em>Logged in as {{.active.Handle}}</em>
<br><br>
{{end}}

<form action="/login" method="post">
	<table>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="handle"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password"></td>
		</tr>
	</table>
	<input type="submit" value="Confirm">
</form>
<br>

<form action="/create", method="get">
	Or, take me to <input type="submit" value="Create New Account">
</form>
<br>

<em>{{.content.Status}}</em>
{{end}}
