{{define "content"}}
<h1>My Pool</h1>

<table>
{{range .Handles}}
	<tr><td>
		<em><a href="/user/{{.}}">{{.}}</a></em>
	</td></tr>
{{end}}
</table>
<br>

<form action="/" method ="get">
	<input type="submit" value="Home">
</form>

<h2>Manage</h2>
<form action="/pool" method="post">
	Username: <input type="text" name="handle"><br>
	<input type="radio" name="action" value="add"> Add to pool
	<input type="radio" name="action" value="block"> <strong>Block</strong>
	<br><br>
	<input type="submit" value="Confirm">
</form>
<br>

<em>{{.Status}}</em>
{{end}}
