{{define "content"}}
<h1>{{.content.Title}}</h1>
<h2>{{.content.Author}} at {{.content.Timestamp}}</h2>

<div class="post">
	<div><pre>{{.content.Content}}</pre></div>
	{{if .content.WasEdited}}
	<small><em>(edited)</em></small>
	{{end}}
</div>

<br>

{{if .content.IsActiveUser}}
<table>
<tr>
	<td>
		<form action="/user/{{.content.Author}}/post/{{.content.ID}}/edit" method="get">
			<input type="submit" value="Edit Post">
		</form>
  </td>
  <td>
		<form action="/user/{{.content.Author}}/post/{{.content.ID}}/delete" method="post">
			<input type="submit" value="Delete Post">
		</form>
	</td>
</tr>
</table>
{{end}}
{{end}}
